<div class="winners-container">
<mat-card class="winner-card">
  <div class="butt-container">
    <button
    class="clear"
    (click)="clearWinners()"
    [disabled]="!winners"
  >
    Clear
  </button>
  <button
  class="clear"
  (click)="selectWinners()"
>
  Select Winners
</button>
  </div>
    <mat-card-title class="mat-card-title">Winners</mat-card-title>
    <mat-card-content>
      <ul class="winner-list">
        <li
          *ngFor="let winner of winners"
          (click)="copyUsername(winner.username)"
          [class.copied]="copiedWinner === winner.username"
        >
        <span *ngIf="winner.badges!.length > 0">
          <span [innerHTML]="getBadgeIcon(winner.badges[0].type)"></span>
        </span>
          {{ winner.username }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  

  <mat-card class="winner-card bottom">
    <mat-card-title class="mat-card-title">Winners Chat</mat-card-title>
    <div class="chat-messages">
      <div *ngIf="(winnersChat$ | async) as chatMessages; else noMessages">
        <div *ngFor="let message of chatMessages" class="chat-message">
          <strong class="username" [ngStyle]="{ color: message.entrant.color}">{{ message.senderUsername }}</strong>: {{ message.message }}
          <div class="timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
      </div>
      <ng-template #noMessages>
      </ng-template>
    </div>
  </mat-card>
</div>