<mat-card class="winner-card">
      <button
      mat-button
      class="clear"
      (click)="clearWinners()"
      [disabled]="!winners"
    >
      Clear
    </button>
    <mat-card-title class="mat-card-title">Winners</mat-card-title>
    <mat-card-content>
      <ul class="winner-list">
        <li
          *ngFor="let winner of winners"
          (click)="copyUsername(winner.username)"
          [class.copied]="copiedWinner === winner.username"
        >
        <span *ngIf="winner.badges!.length > 0">
          <span [innerHTML]="getBadgeIcon(winner.badges[0].type)"></span>
        </span>
          {{ winner.username }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  