.winner-card {
  width: 400px;
  max-width: 400px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #111111;
  border: 1px solid #613DC1;
}

.clear {
  margin: 5px;
  padding: 0.7rem 1rem;
  background-color: #858AE3;
  border-radius: 25px;
  color: #fff;
  border: none;
  transition: all 0.4s ease-in-out;
}

.clear:hover {
  background-color: white;
  color: #2D0736;
  cursor: pointer;
}

.clear:disabled, .clear:disabled:hover {
  background-color: #9394a4;
  color: grey;
  cursor: default;
}

.winner-card {
    max-width: 400px;
  }
  
  .winner-list {
    list-style-type: none; // Removes bullet points
    padding: 0;
  
    li {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
  
      &:hover {
        background-color: #370b41;
      }
  
      &.copied {
        font-weight: bold;
      }
    }
  }
  
  .mat-card-title {
    align-self: center;
    margin-bottom: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.butt-container {
  display: flex;
  flex-direction: row;
}

.bottom {
  margin-top: 1rem;
}

.winner-card {
  margin: 20px;
  padding: 20px;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  align-self: flex-start;
  width: 100%;
}

.chat-message {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #613DC1;
  overflow-x: hidden;
  word-wrap: break-word; /* Ensures long words are broken to fit the container */
  word-break: break-word; /* Breaks long words if necessary */
  white-space: pre-wrap; /* Preserves newlines but allows text to wrap */
}

.timestamp {
  font-size: 0.75rem;
  color: #ffffff;
}

.username {
  color: #613DC1;
}
