.winner-card {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  color: #e4e4e4;
  margin-top: -40px;
}

.winner-card {
    max-width: 400px;
  }
  
  .winner-list {
    list-style-type: none; // Removes bullet points
    padding: 0;
  
    li {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
  
      &:hover {
        background-color: #e4e4e4;
      }
  
      &.copied {
        font-weight: bold;
      }
    }
  }
  