<mat-card class="dashboard-card">
  <mat-card-title class="mat-card-title">Giveaway Controls</mat-card-title>
  <mat-card-content>

    <!-- Channel name + load -->
    <div>
      <p class="label">Kick Channel name</p>
      <input class="input first" placeholder="Kick channel name" [(ngModel)]="channelName" />
      <button
        class="load"
        (click)="loadChannelId()"
        [disabled]="!channelName"
      >
        Load
      </button>
    </div>

    <!-- Channel ID Display -->
    <div>
      <p class="label">Channel ID</p>
        <input
          class="input"
          [disabled]="true"
          [(ngModel)]="channelId"
          readonly
        />
    </div>

    <!-- Keyword Input -->
    <div>
      <p class="label">Keyword</p>
        <input
          [disabled]="giveawayActive"
          class="input"
          placeholder="Enter keyword for entry"
          [(ngModel)]="keyword"
          (ngModelChange)="onKeywordChange($event)"
        />
      
    </div>

    <!-- Number of Winners Slider -->
    <div>
      <p class="label">Number of winners</p>
        <div class="slider-container">
          <input (ngModelChange)="onNumberOfWinnerChange($event)" [(ngModel)]="numberOfWinners" type="range" class="slider" min="1" max="10" value="1">
        </div>
      <span class="numberOfWinners">{{ numberOfWinners }}</span>
    </div>
  </mat-card-content>
</mat-card>
