<mat-card class="dashboard-card">
  <mat-card-title class="mat-card-title">Giveaway Controls</mat-card-title>
  <mat-card-content>

    <!-- Channel name + load -->
    <div>
      <mat-form-field>
        <mat-label>Kick Username</mat-label>
        <input matInput placeholder="Enter channel name" [(ngModel)]="channelName" />
      </mat-form-field>
      <button
        mat-button
        class="load"
        (click)="loadChannelId()"
        [disabled]="!channelName"
      >
        Load
      </button>
    </div>

    <!-- Channel ID Display -->
    <div>
      <mat-form-field>
        <mat-label>Chatroom ID</mat-label>
        <input
          matInput
          [disabled]="true"
          [(ngModel)]="channelId"
          readonly
        />
      </mat-form-field>
    </div>

    <!-- Keyword Input -->
    <div>
      <mat-form-field>
        <mat-label>Keyword</mat-label>
        <input
          [disabled]="giveawayActive"
          matInput
          placeholder="Enter keyword for entry"
          [(ngModel)]="keyword"
          (ngModelChange)="onKeywordChange($event)"
        />
      </mat-form-field>
    </div>

    <!-- Number of Winners Slider -->
    <div>
      <mat-label>Number of Winners</mat-label>
      <mat-slider min="1" max="10" step="1">
        <input [(ngModel)]="numberOfWinners" matSliderThumb>
      </mat-slider>
      <span>{{ numberOfWinners }}</span>
    </div>
  </mat-card-content>

  <!-- Action Buttons -->
  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      class="allow-entries-button"
      (click)="toggleGiveaway()"
      [disabled]="channelId === 0"
      matTooltip="Channel ID must be loaded to allow entries"
    >
      {{ giveawayActive ? 'Stop Allowing Entries' : 'Allow Entries' }}
    </button>
    <button mat-raised-button class="select-winner-button" (click)="selectWinners()">
      Select Winner(s)
    </button>

    <button mat-raised-button color="accent" class="clear-entries-button" (click)="clearEntries()">
      Clear Entries
    </button>
  </mat-card-actions>
</mat-card>
