.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #1E0524;
    height: 85vh;
  }

  .navbar {
    background-color: #613DC1;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #858AE3;
  }

  .controls {
    align-self: flex-start;
  }

  .winners {
    align-self: flex-start;
    min-width: 250px;
  }
  .keyword-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(225, 220, 214);
    background-color: #1E0524;
  }
  .keyword {
    opacity: 1;
    font-weight: bold;
    color:rgb(39, 69, 238);
  }

  .footer {
    padding: 1rem;
    text-align: center;
    border: 3px solid #2C0735;
    background-color: #1E0524;
    color: #858AE3;
  }