<mat-toolbar class="navbar">
  <div routerLink="/" class="logo">quickaway.app</div>
  </mat-toolbar>

  <div class="keyword-banner">
    <h1 *ngIf="keyword" class="keyword-banner-text">Keyword: <span class="keyword">{{ keyword }}</span></h1>
    <h1 *ngIf="!keyword" class="keyword-banner-text">Type anything to enter</h1>
  </div>
  <div class="container">
    <app-controls
        class="controls"
      (numberOfWinnersChange)="onNumberOfWinnersChange($event)"
      (keywordChange)="onKeywordChange($event)"
      (channelLoaded)="onChannelLoaded($event)"
    ></app-controls>
    <app-entrants-list [channelId]="channelId"></app-entrants-list>
    <app-winners class="winners"  [numberOfWinners]="numberOfWinners"></app-winners>
  </div>
  