.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background: linear-gradient(290deg, #0a0a0a, #1c1c1c);
    height: fit-content;
  }

  .navbar {
    background-color: #613DC1;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #858AE3;
  }

  .controls {
    align-self: flex-start;
  }

  .winners {
    align-self: flex-start;
    min-width: 250px;
  }
  .keyword-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(290deg, #0a0a0a, #1c1c1c);
    color: #e4e4e4;
  }
  .keyword {
    opacity: 1;
    font-weight: bold;
    color: #858AE3;
  }

  .footer {
    padding: 1rem;
    text-align: center;
    border-top: 3px solid #000000;
    background: linear-gradient(290deg, #0a0a0a, #1c1c1c);
    color: #858AE3;
  }