.entrants-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    padding-top: 50px;
    min-width: 300px;
    min-height: 300px;
    max-height: 800px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
  }

  .entrants-viewport {
    height: 100%;
    width: 100%;
  }

  .entrant {
    background-color: rgb(234, 234, 234);
    margin: 5px;
    padding: 0px 5px 0px 5px;
    width: 200px;
    text-align: center;
  }

  .mat-card-title {
    align-self: center;
    margin-bottom: 20px;
}